* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 3rem 0;
  height: 100vh;
  position: relative;
  z-index: 90;
}

.heading {
  padding-left: 4px;
  font-size: 17px;
  color: #04004d;
  font-weight: 500;
}

.question {
  margin: 1.5rem 1rem;
  font-size: 17px;
  color: #004dff;
  font-weight: 500;
}

.items {
  padding: 0.3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: 0.5rem;
}
